
.brand{
  color: royalblue;
}

.error{
  color: lightcoral;
}


body {
font-family: sans-serif;
}

button {
border-radius: 0.5rem;
margin-bottom: 1rem;
padding: 0.5rem;
}


/*--------------------------------------------------------------
# htmx swaps & indicators
ref : https://github.com/ambiorix-web/ambiorix-htmx/blob/main/infinite-scroll/public/styles.css
*[hx-swap] {
  animation: animate-in 500ms ease-in-out;
}

@keyframes animate-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.htmx-indicator {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.htmx-request .htmx-indicator, .htmx-request.htmx-indicator {
  opacity: 1;
}

--------------------------------------------------------------*/
